<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--css linking section-->
    <link rel="stylesheet" href="/css/style.css" />

    <title>Dugu Dairy</title>
  </head>
  <body>
    <nav class="navbar">
        <h4 class="brand-nav nav-hover-prop">Dugu Dairy</h4>
        <ul class="navbar-items">
            <li class="item nav-hover-prop"><a href="/" class="navlink">Home</a></li>
            <li class="item nav-hover-prop"><a href="/about" class="navlink">About</a></li>
            <li class="item nav-hover-prop"><a href="/contact" class="navlink">Contact Us</a></li>
        </ul>
      </nav>
