<!--footer inclusion-->
<%-include('partials/header')-%>
<div class="home-heading-container">
  <h1 class="home-heading">Contact Us</h1>
  <p class="home-subheading"><%= homePageLines %></p>
</div>

<!--header inclusion-->
<%-include('partials/footer')-%>